@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0d1e38c2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888b4;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #484848;
}

#root {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #0a192fe;
  backdrop-filter: blur(50px);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #0a192f;
  font-family: "Poppins", sans-serif;
}

.img_about {
  background-color: #303f52;
  border-radius: 0.5rem;
  position: relative;
  filter: saturate(2);
  transition: 15s;
}

.img_container {
  width: 80%;
  margin: auto;
  border-radius: 0.75rem;
  position: relative;
}

.img_container::before {
  content: "";
  border: 2px solid #64ffda;
  position: absolute;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  top: 1.5rem;
  left: 1.5rem;
  transition: 0.2s;
}

.img_container:hover::before {
  top: 1rem;
  left: 1rem;
}

.contribute {
  position: relative;
  padding: 0 2rem;
}

.contribute::after {
  content: "▹";
  position: absolute;
  left: 0;
  top: 0;
  font-size: x-large;
  color: #64ffda;
}

.no-scroll {
  overflow: hidden;
}

.blur {
  filter: blur(7px);
}

/* text */
.textFont {
  position: relative;
  font-size: clamp(1.125rem, 3.5vw, 1.55rem);
  font-weight: 600;
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.textFont::before {
  content: "02.";
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #64ffda;
  font-family: "Inconsolata";
}

.textFonts::before {
  content: "01.";
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #64ffda;
  font-family: "Inconsolata";
}

.textFont::after {
  content: "";
  width: 300px;
  height: 1px;
  position: relative;
  background-color: rgb(50, 50, 50);
  margin-left: 10px;
}

.textProjects:before {
  content: "03.";
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #64ffda;
  font-family: "Inconsolata";
}

.shdow {
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(6, 17, 35, 0.36);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.36);
  background-color: #0d1f3b;
  border-radius: .25rem;
}

.anchor1::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.textClamp {
  font-size: clamp(1.5rem, 3.5vw, 1.55rem);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.active {
  color: #64ffda;
}

.webdev {
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.7s;
}

.navanimate {
  opacity: 0;
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.setnav0 {
  animation-delay: .0s;
}

.setnav1 {
  animation-delay: .3s;
}

.setnav2 {
  animation-delay: .6s;
}

.setnav3 {
  animation-delay: .9s;
}

.setnav4 {
  animation-delay: 1.2s;
}

.setnav5 {
  animation-delay: 2.9s;
}
